---
layout: default
title: Archief
permalink: /Archief/
---
<div class="post-content">
    <div class="archive-grid">
        <div class="search">
            <h1>Zoek je iets?</h1>
            <div class="search-line">
                🔎<input type="text" id="search-input" placeholder="Zoeken...">
            </div>
            <ul id="results-container"></ul>
        </div>
        <div class="tagcloud-child">
            <h1>Alles op een rijtje</h1>
            {% include tagcloud.html %}
        </div>
        <div class="archive-child">
            <h1 class="post-title">Archief</h1>
            <ul>
                {% for post in site.posts %}
                <li>{{ post.date | date: "%d-%m-%Y" }} | <a href="{{ post.url }}">{{ post.title }}</a><br>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>




