<p>Alle donateurs en bedrijven die ons op welke manier dan ook steunen zijn we ontzettend dankbaar! Door jullie gulheid kan KiKa hun goede werk blijven doen. Kijk vooral eens tussen onderstaande topbedrijven!</p>
<div class="sponsor-grid">
    <div class="sponsor-child">
        <a href="https://ontdekbeesel.nl/reuver/t-kaashuys/" target="_blank" rel="noopener">
            <img alt="'t Kaashuys logo" src="/assets/images/sponsors/kaashuys.jpg">
        </a>
    </div>
    <div class="sponsor-child">
            <h3>Nolet Support</h3>
    </div>
    <div class="sponsor-child">
        <a href="https://www.go-cargo.nl/" target="_blank" rel="noopener">
            <img alt="Go-Cargo logo" src="/assets/images/sponsors/gocargo.png">
        </a>
    </div>
    <div class="sponsor-child">
        <a href="https://burgerlijk.eu/" target="_blank" rel="noopener">

        <h3>Burgerlijk</h3>
    </div>
    <div class="sponsor-child">
        <a href="https://www.auxilio.nl/" target="_blank" rel="noopener">

        <img alt="Auxilio logo" src="/assets/images/sponsors/auxilio.png">
    </div>
    <div class="sponsor-child">
        <a href="https://www.pdaemen.com/en/" target="_blank" rel="noopener">

        <img alt="Peter Daemen Transport logo" src="/assets/images/sponsors/pdaemen.png">
    </div>
    <div class="sponsor-child">
        <a href="https://www.tonnotermans.nl/" target="_blank" rel="noopener">

        <img alt="Ton Notermans logo" src="/assets/images/sponsors/tonNotermans.png">
    </div>
</div>