<p>Alle donateurs en bedrijven die ons op welke manier dan ook steunen zijn we ontzettend dankbaar! Door jullie gulheid kan KiKa hun goede werk blijven doen. Kijk vooral eens tussen onderstaande topbedrijven!</p>
<div class="sponsor-grid">
    <div class="sponsor-child kaashuys">
        <a href="https://ontdekbeesel.nl/reuver/t-kaashuys/" target="_blank" rel="noopener">
            <img alt="'t Kaashuys logo" src="/assets/images/sponsors/kaashuys.jpg">
        </a>
    </div>
    <div class="sponsor-child noletsupport">
            <h3>Nolet Support</h3>
    </div>
    <div class="sponsor-child gocargo">
        <a href="https://www.go-cargo.nl/" target="_blank" rel="noopener">
            <img alt="Go-Cargo logo" src="/assets/images/sponsors/gocargo.png">
        </a>
    </div>
    <div class="sponsor-child burgerlijk">
        <a href="https://burgerlijk.eu/" target="_blank" rel="noopener">

        <h3>Burgerlijk</h3>
    </div>
    <div class="sponsor-child auxilio">
        <a href="https://www.auxilio.nl/" target="_blank" rel="noopener">

        <img alt="Auxilio logo" src="/assets/images/sponsors/auxilio.png">
    </div>
    <div class="sponsor-child pdamen">
        <a href="mailto:info@peterdamentransport.nl" target="_blank" rel="noopener">

        <img alt="Peter Damen Transport logo" src="/assets/images/sponsors/pdamen.jpeg">
    </div>
    <div class="sponsor-child primula">
        <a href="https://stichtingprimula.nl" target="_blank" rel="noopener">

        <img alt="Primula logo" src="/assets/images/sponsors/primula.png">
    </div>
    <div class="sponsor-child my35">
        <a href="https://www.my35.nl/" target="_blank" rel="noopener">

        <img alt="My35 logo" src="/assets/images/sponsors/my35.jpeg">
    </div>
    <div class="sponsor-child tonnotermans">
        <a href="https://www.tonnotermans.nl/" target="_blank" rel="noopener">

        <img alt="Ton Notermans logo" src="/assets/images/sponsors/tonNotermans.png">
    </div>

 
</div>
<p style="color:gray;font-size:0.8rem;">NB: De grootte van het logo correspondeert met de hoogte van de donatie!</p>