/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;
  max-height: 7.5vh;
}

.site-nav {
  padding: 0 $spacing-unit/2 0;
  display: flex;
  justify-content: space-between;
  }

  .regular-menu {
    padding: 1rem 0 1rem;
    transform: translateY($spacing-unit / 2);
    .page-link {
      padding: 5px 10px;
      float: right;
      margin-left: auto;
      color: black;
      &:hover {
        color: $accent;
        text-decoration: none;
      }
    }
    .page-link:nth-child(1) {
      display: inline;
      background-color: $brand-color;
      border-radius: 7.5px;
      color: $background-color;
      text-decoration: none;
      font-family: $base-font-family;
      &:hover {
        background-color: #2105a7;
      }
    }
  }


  .trigger-menu {
    .page-link {
      padding: 0 0 $spacing-unit;
      margin: auto;
      text-align: center;
    }
  }

  .page-link {
    font-size: 1.1rem;
    // Gaps between nav items, but not on the last one
    margin-left: 20px;
    font-weight: 500;
    text-decoration: none;
    
  }

  .page-title {
    font-size: 1.1rem;
    margin-left: auto;
  }



.site-title {
  margin: $spacing-unit*2 auto $spacing-unit;
  .logo {
    height: $spacing-unit * 2.2;
    position: relative;
    display: inline-block;
    margin-left: 0.5rem;
    transform: translateY(-$spacing-unit * 0.3);
  }
  .logo-title {
    position: relative;
    color: black;
    transform: translateY(-$spacing-unit * 0.65);
    display: inline-block;
    font-family: $header-font-family;
    font-size: 2.2rem;
    font-weight: bold;
  }

  a {
    text-decoration:none;
    &:hover {
      color: black;
    }
  }
}


/**
 * Page content
 */
.page-content {
  padding: 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
  @media screen and (min-width: $on-medium) {
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
  }
}

.post-list-heading {
  @include relative-font-size(1.75);
  color: hsl(250, 94%, 25%);
}

.post-list {
  margin-left: 0;
  list-style: none;
  position: relative;
  > li {
    margin-bottom: $spacing-unit;
    background: hsl(255, 100%, 100%);
    border-radius: 8px;
  }
}

.post-meta {
  color: hsl(0, 0%, 50%);
}

.post-link {
  display: block;
  color: hsl(250, 94%, 25%);
  @media screen and (min-width: $on-medium) {
    @include relative-font-size(2.25);
  }
  @include relative-font-size(1.75);
  text-decoration: none;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  @media screen and (min-width: $on-medium) {
    margin-left: $spacing-unit / 2;
    margin-right: $spacing-unit / 2;
  }
}

.post-title,
.post-content h1 {
  @include relative-font-size(2.2);
  letter-spacing: -1px;
  line-height: 1.15;
  @media screen and (min-width: $on-large) {
    @include relative-font-size(3);
  }
  @media screen and (min-width: $on-medium) {
    @include relative-font-size(3);
  }

}

.post-content {
  @media screen and (min-width: $on-medium) {
    margin-left: $spacing-unit / 2;
    margin-right: $spacing-unit / 2;
  }
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.75);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1.125);
  }
  h6 {
    @include relative-font-size(1.0625);
  }
}

/**
 * Pagination navbar
 */
.pagination {
  margin-bottom: $spacing-unit;
  @extend .social-media-list;
  li {
    a, div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }
    div {
      display: block;
      padding: $spacing-unit / 4;
      border: 1px solid transparent;

      &.pager-edge {
        color: $border-color-01;
        border: 1px dashed;
      }
    }
  }
}


/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}


// CUSTOM STYLES //
.hero {
  padding-top: $spacing-unit / 2;
  @extend %vertical-rhythm;
  @media screen and (min-width: $on-medium) {
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
  }
  background: $background-color-light;
  text-align: center;
  color: $text-color;
  h1 {
    margin-bottom: 0;
  }
  h2 {
    @include relative-font-size(1.3);
    color: $text-color;
    font-family: $p-font-family;
    font-weight: normal;
    @media screen and (min-width: $on-medium) {
      @include relative-font-size(1.6);
    }
  }
  h3 {
    font-family: $p-font-family;
    margin-bottom: -0.75rem;
  }
}

/*
.hero-image {
  background: url(/assets/images/groepsfotowatermerk.jpeg) no-repeat center top; 
  background-size: cover;
  padding: 20% 10% 15%;
}
*/

.hero-title {
  @include relative-font-size(3.3);
  font-family: $header-font-family;
  font-weight: bold;
  letter-spacing: -0.03em;
  text-decoration: none;
  margin: 5rem 0 5rem;
  color: $background-color !important;
  @media screen and (min-width: $on-medium) {
    @include relative-font-size(4);
  }
  @media screen and (min-width: $on-large) {
    @include relative-font-size(5);
  }
  
  &:hover {
    color: $accent;
  }

  
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.text-box {
  background: linear-gradient(5deg, #000080 0%, #120293 16%, #2105a7 33%, #2d09bb 50%, #3a0ed0 66%, #4613e5 83%, #5218fa 100%);
  color: white;
  box-shadow: $shadow-elevation-low;
  padding: $spacing-unit;
  margin: $spacing-unit 0 2*$spacing-unit;
  z-index: -100;
  border-radius: 10px;
  h2, h3 {
    color: white;
  }
  img {
    max-height: 8rem;
    width: auto;
    border-radius: 50%;
    float: right;
    margin: 0 0.25rem 15px;
    padding-left: 0.5rem;
  }
  ul, ol {
    margin-left: $spacing-unit;
  }
  #doneerlink {
    &:hover {
      text-decoration: none;
    }
  }
}

.relatedPosts-parent {
    background: $background-color-lighter;
}

.img-404 {
  max-height: 8rem;
  width: auto;
}

@media screen and (max-width: $on-palm) {
  .relatedPosts-parent {
    grid-template-columns: 1fr;
  }
}

.tag {
  color: $brand-color;
}

.post .full-bleed {
  width: 100vw;
  margin-left: calc( (100vw - min(65ch, 100vw)) * (.2 / 1.2) * (-1) - 30px);
}

.post {
  margin-top: 4rem;
}

.post-article {
  margin-top: 4rem;
}
// Adding 'Contents' headline to the TOC
#markdown-toc::before {
  content: "Inhoudsopgave";
  font-weight: bold;
  top: 1.5em;
  position: absolute;
}


// Using numbers instead of bullets for listing
#markdown-toc ul {
  list-style: decimal;
}

#markdown-toc {
  border: 1px solid #aaa;
  padding: 3.5em 1em 1em 2em;
  @media screen and (min-width: $on-medium) {
    padding: 4.5em 3em 1.5em 3em;
  }
  list-style: decimal;
  display: inline-block;
  position: relative;
  margin-left: 0;
}

// Search

.search {
  width: 100%;
}

#search-input {
  border: none;
  font-family: $p-font-family;
  font-size: 1em;
  position: relative;
  width: 80%;
  padding: 0.2em 0 0.2em 0.3em;
  border-radius: 0.2em;
  &:focus {
    outline: none;
  }
}

#search-input:focus {
  background: $background-color-dark;
}

.search-line {
  padding-left: 0em;
  width: calc(100% - 1em);
  position: relative;
  padding-bottom: $spacing-unit;
}

.search-line::before {
  position: absolute;
  content: '';
  height: 1em;
  width: 0em;
  left: 0;
  top: 0;
}

#results-container {
  display: fixed;
  background: transparent;
  list-style: none;
  padding: 0;
  margin: 0; 
}

.icon {
  display: inline-block;
  height: 1em;
}

// ARCHIVE
.archive-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: $spacing-unit;
}

.tagcloud-child { 
  padding-bottom: $spacing-unit;
}

.archive-grid > div {
  grid-column: 1/3;
}

.archive-grid > div:first-child {
  @media screen and (min-width: $on-medium) {
    grid-column: 1/2;
  }
}

.archive-grid > div:nth-child(2) {
  @media screen and (min-width: $on-medium) {
    grid-column: 2/3;
  }
}

.archive-grid > div:last-child {
  @media screen and (min-width: $on-medium) {
    grid-column: 1/3;
  }
}

.tagcloud_list {
  list-style: none;
  margin-left: 0;
}

/* NDTVK EXTRA STUFF */
.orange {
  color: $accent;
}

.blue {
  color: $dummy-color;
}

/* ABOUT PAGINA */
.about-parent {
  display: grid;
  justify-content: stretch;
  grid-column: 1fr;
  gap: $spacing-unit;
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

@media screen and (min-width: $on-medium) {

  .about-parent {
    grid-column: 1fr 1fr; 
  }

  .about-child:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/2;
    background: $brand-color-lightest;
  }
  
  .about-child:nth-child(2) {
    grid-row: 1/2;
    grid-column: 2/3;
    background: $accent-color-light;
    
  }
  
  .about-child:nth-child(4) {
    grid-row: 2/3;
    grid-column: 1/2;
    background: $brand-color-lightest;
  }
  
  .about-child:nth-child(3) {
    grid-row: 2/3;
    grid-column: 2/3;
    background: $accent-color-light;
  }
}

.about-child {
  position: relative;
  border-radius: 5px;

  p {
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
  }
}

.about-child:nth-child(1) {
  background: $brand-color-lightest;
}

.about-child:nth-child(2) {
  background: $accent-color-light;
  
}

.about-child:nth-child(4) {
  background: $brand-color-lightest;
}

.about-child:nth-child(3) {
  background: $accent-color-light;
}

.selfie {
  width: 100%;
  margin-bottom: $spacing-unit / 2;
}

.img-wrapper {
  margin: 2*$spacing-unit auto 0 ;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.groepsfoto {
  position: relative;
  border-radius: 10px;
  max-height: 50vh;
  box-shadow: $shadow-elevation-low;
}

figcaption {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}

.donerenknop {
  background-color: $accent;
      border-radius: 7.5px;
      padding: 5px 10px;
      color: $background-color !important;
      text-decoration: none;
      font-family: $header-font-family;
      font-size: 1.35rem;
      transform: translateY(-5px);
      &:hover {
        background-color: $dummy-color !important;
      }
    display: none;
    @media screen and (max-width: $on-palm) {
      display: inline;
    }
}

input, textarea {
  margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5em;
    width: calc(100% - 1em - 2px);
    display: inline-block;
    vertical-align: middle;
    background: $background-color;
    font-family: $p-font-family;
}

form {
  z-index: 100;
  button {
    font-size: 1.35rem;
    background: $brand-color-dark;
    color: $background-color;
    border: none;
    line-height: 2rem;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background: $accent;
      transition: all .15s ease-in-out;
      -webkit-transition: all .15s ease;
    }
  }
}

.veiling-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: $spacing-unit;
  @media screen and (min-width: $on-medium) {
    grid-template-columns: 1fr 1fr;
  }
}

.insta-icon {
  display: inline;
  height: 2em;
  transform: translateY(-0.25em);
  padding: 5px 0;
}

.insta {
  display: none;
  @media screen and (min-width: $on-medium) {
    display: block;
  }
}
.socials {
  display: flex;
  flex-flow: row nowrap;
  max-height: 2em;
  padding: 2.1rem 0 1rem;
}